/* Normalize */
@import url('../../node_modules/normalize.css/normalize.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg: #ededed;
  --bg-yellow: #ffd15b;
  --grey-color: #7a7a7a;

  --font-anton: 'Anton', sans-serif;
  --font-manrope: 'Manrope', sans-serif;

  --h1-size: 18px;
}

html {
  background-color: var(--main-bg);
}

header {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url('../src/assets/images/header-background.png');
  background-position: 25% 75%;
  background-size: cover;
  height: 350px;
}

.h1-title {
  color: var(--bg-yellow);
  font-size: var(--h1-size);
  font-family: var(--font-anton);
}

h2 {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--font-anton);
}

h3 {
  font-size: 12px;
  font-weight: 700;
  font-family: var(--font-manrope);
  text-transform: uppercase;
  color: var(--grey-color);
  padding-bottom: 14px;
  letter-spacing: 0.0675em;
}

p {
  font-size: 14px;
  font-family: var(--font-manrope);
  font-weight: 500;
  color: #1b1b1b;
}

p + div > span {
  font-size: 14px;
  font-family: var(--font-manrope);
  color: var(--grey-color);
}

button > p {
  font-family: var(--font-manrope);
}

.count-recipes {
  font-family: var(--font-anton);
}

[id*='-select']:focus > div[role='listbox'] {
  top: 55px;
}

[id*='-select']:not(:focus) {
  outline: solid 2px white;
}

[id*='-select']:not(:focus) > div[role='listbox'] {
  top: 55px;
}

div[role='listbox'] {
  left: -2px;
  right: -2px;
}

@media (min-width: 640px) {
  header {
    height: 500px;
  }
}

@media (min-width: 768px) {
  header {
    height: 500px;
  }
}

@media (min-width: 1024px) {
  header {
    height: 667px;
  }
}
