/* Normalize */
@import url('../../node_modules/normalize.css/normalize.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg: #ededed;
  --bg-yellow: #ffd15b;

  --font-anton: 'Anton', sans-serif;
  --font-manrope: 'Manrope', sans-serif;

  --h1-size: 44px;
}

html {
  background-color: var(--main-bg);
}

header {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url('../src/assets/images/header-background.png');
  background-position: 25% 75%;
  background-size: cover;
  height: 667px;
}

.h1-title {
  color: var(--bg-yellow);
  font-size: var(--h1-size);
  font-family: var(--font-anton);
}

button > p {
  font-family: var(--font-manrope);
}

.count-recipes {
  font-family: var(--font-anton);
}
